<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site</title>

    <!-- Fonte Sora -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Arquivo CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header>
      <!-- Conteúdo do header aqui -->
    </header>

    <main>
      <div class="container">
        <div class="avatar">
          <video width="542" autoplay>
            <source src="/static/video/renata.mp4" type="video/mp4" />
            Seu navegador não suporta o elemento de vídeo.
          </video>
        </div>

        <div class="chat">
          <input type="text" placeholder="Agora me conta, qual o seu nome" />
          <button onclick="location.href='chat.html'">
            <img src="/static/images/play.svg" alt="Play" />
          </button>
        </div>
      </div>
    </main>

    <footer>
      <!-- Conteúdo do footer aqui -->
    </footer>

    <!-- Arquivo JS -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
